@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --green: #197F5B;
    --orange: #EF9919;
    --otherWhite: #F9F5F2;
    --white: #FFFFFF;
}
*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
}

/*  START NAV */

nav{
    width: 100vw;
    height: 5rem;
    background-color: var(--green);
    display: flex;
    justify-content: end;
    align-items: center;
    padding: .5rem 1.25rem;
}

/* END NAV */