@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --green: #197F5B;
    --orange: #EF9919;
    --otherWhite: #F9F5F2;
    --white: #FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
}

/*  START NAV */

nav{
    position: absolute;
    width: 99vw;
    padding: 1rem;
    padding-top: 2.5rem;
}
ul{
    display: flex;
    justify-content: end;
}
ul>li{
    list-style: none;
    font-weight: 300;
    margin-right: 4vw;
}
/* END NAV */

/* START PRESENTACION */
#presentacion img{
    width: 99.9vw;
    height: 80vw;
}
/* END PRESENTACION */