@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --green: #197F5B;
    --orange: #EF9919;
    --otherWhite: #F9F5F2;
    --white: #FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: 'Poppins', sans-serif;
    color: var(--white);
}

/*  START NAV */

nav{
    position: absolute;
    width: 99vw;
    padding: 1rem;
    padding-top: 2.5rem;
    z-index: 2;
}
ul{
    display: flex;
    justify-content: end;
}
ul>li{
    list-style: none;
    font-weight: 300;
    margin-right: 4vw;
}
/* END NAV */

/* START PRESENTACION */
#presentacion div{
    position: absolute;
    z-index: -1;
}
#presentacion img{
    width: 99.9vw;
    height: 80vw;
}
h1{
    color: var(--orange);
    margin-left: .5rem;
}
#presentacion section{
    text-align: center;
}
#name-presentacion{
    display: flex;
}
#name-presentacion{
    display: flex;
    padding-top: 10vw;
    font-size: 4vw;
    margin-left: 28vw;
}
#descripcion-presentacion{
    font-size: 3vw;
}
#exp-1{
    background: var(--white);
    color: black;
    text-align: center;
    padding: 1vw 2vw;
    margin: 5vw 0vw 0vw 24vw;
    border-radius: 2.5rem;
    font-weight: 300;
    font-size: 1.2vw;
}
#exp-1 h1{
    font-size: 1.2vw;
    font-weight: 600;
}
#redes img{
    width: 4vw;
    height: 4vw;
    
}
.red-presentacion{
    text-align: center;
    padding-top: 1vw;
    width: 6vw;
    height: 6vw;
    background-color: var(--white);
    border-radius: 50px;
}
#redp1{
    margin: 37vw 0vw 0vw 30vw;
}
#redp2{
    margin: 37vw 0vw 0vw 64.5vw;
}
#redp3{
    margin: 43.5vw 0vw 0vw 47vw;
}
/* END PRESENTACION */